<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.rivernine.cryptoGenerator.repository.HistoryRepository">
  <!-- <select id="getOrder" resultType="java.util.HashMap"> -->
  <insert id="insertHistory">
    INSERT history (date, market, volume, bid_boll, bid_mfi, bid_price, ask_boll, ask_mfi, ask_price, pnl) VALUES 
    (#{date}, #{market}, #{volume}, #{bid_boll}, #{bid_mfi}, #{bid_price}, #{ask_boll}, #{ask_mfi}, #{ask_price}, #{pnl})
  </insert>
</mapper>