<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.rivernine.cryptoGenerator.repository.OrderRepository">
  <!-- <select id="getOrder" resultType="java.util.HashMap"> -->
  <select id="getOrder" resultType="com.rivernine.cryptoGenerator.domain.order.Order">
    SELECT * FROM basket LIMIT 1;
  </select>
  <insert id="insertOrder">
    INSERT basket (date, uuid, price, volume) VALUES (#{date}, #{uuid}, #{price}, ${volume})
  </insert>
</mapper>